.csdl-container {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csdl-container a,
.csdl-container u,
.csdl-container ins {
  text-decoration: none;
}
.csdl-container a:hover {
  text-decoration: none;
}
.csdl-container del,
.csdl-container s {
  text-decoration: line-through;
}
.csdl-container pre,
.csdl-container code,
.csdl-container samp,
.csdl-container kbd {
  font-family: monospace;
}
.csdl-container small {
  font-size: 0.75em;
}
.csdl-container img {
  border: 0;
  font-style: italic;
}
.csdl-container input,
.csdl-container select,
.csdl-container option,
.csdl-container optgroup,
.csdl-container textarea {
  font: inherit;
}
.csdl-container article,
.csdl-container aside,
.csdl-container details,
.csdl-container figcaption,
.csdl-container figure,
.csdl-container footer,
.csdl-container header,
.csdl-container hgroup,
.csdl-container nav,
.csdl-container section {
  display: block;
}
.csdl-container audio[controls],
.csdl-container canvas,
.csdl-container video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.csdl-container img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
.csdl-container img,
.csdl-container object,
.csdl-container embed {
  max-width: 100%;
  height: auto;
}
.csdl-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csdl-container .csdl-row {
  width: 100%;
  margin: 0 auto;
  padding: 0 ;
}
.csdl-container .csdl-row .csdl-row {
  width: auto;
  max-width: none;
  min-width: 0;
  padding: 0;
}
.csdl-container .csdl-column {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}
.csdl-container [class*="csdl-column"] + [class*="csdl-column"]:last-child {
  float: right;
}
.csdl-container [class*="drb-column"] + [class*="csdl-column"].end {
  float: left;
}
.csdl-container .csdl-row .csdl-column.one {
  width: 8.33%;
}
.csdl-container .csdl-row .csdl-column.two {
  width: 16.66%;
}
.csdl-container .csdl-row .csdl-column.three {
  width: 25%;
}
.csdl-container .csdl-row .csdl-column.four {
  width: 33.33%;
}
.csdl-container .csdl-row .csdl-column.five {
  width: 41.66%;
}
.csdl-container .csdl-row .csdl-column.six {
  width: 50%;
}
.csdl-container .csdl-row .csdl-column.seven {
  width: 58.33%;
}
.csdl-container .csdl-row .csdl-column.eight {
  width: 66.66%;
}
.csdl-container .csdl-row .csdl-column.nine {
  width: 75%;
}
.csdl-container .csdl-row .csdl-column.ten {
  width: 83.33%;
}
.csdl-container .csdl-row .csdl-column.eleven {
  width: 91.66%;
}
.csdl-container .csdl-row .csdl-column.twelve {
  width: 100%;
}
.csdl-container .csdl-row:before,
.csdl-container .csdl-row:after,
.csdl-container .clearfix:before,
.csdl-container .clearfix:after {
  content: "";
  display: table;
}
.csdl-container .csdl-row:after,
.csdl-container .clearfix:after {
  clear: both;
}
.csdl-container .csdl-row,
.csdl-container .clearfix {
  zoom: 1;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BASICS */
.csdl-container {
  position: relative;
  overflow: hidden;
  display: block;
  background: #fbfbfb;
  color: #2c2b33;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 19px;
}
.csdl-container a {
  text-decoration: none;
  color: #68686d;
  -webkit-transition: all 0.14s ease-out;
  -moz-transition: all 0.14s ease-out;
  -o-transition: all 0.14s ease-out;
  transition: all 0.14s ease-out;
}
.csdl-container a:hover {
  color: #388cb8;
}
.csdl-container h1,
.csdl-container h2,
.csdl-container h3 {
  font-weight: normal;
}
.csdl-container h1 {
  font-size: 48px;
  line-height: 48px;
}
.csdl-container h2 {
  font-size: 20px;
  line-height: 20px;
  color: #388cb8;
}
.csdl-container h3 {
  font-size: 15px;
  line-height: 20px;
  color: #bbb;
}
.csdl-container p {
  margin-top: 14px;
}
.csdl-container .csdl-inactive {
  opacity: 0.5;
}
.csdl-container.csdl-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}
.csdl-container .csdl-maps-marker-url {
  background: url('images/maps-marker.png');
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HEADER */
.csdl-container .csdl-header,
.csdl-container .csdl-footer {
  clear: both;
  height: 46px;
  background: #f6f6f5;
  border: 0;
}
.csdl-container .csdl-header {
  border-bottom: 1px solid #d4d4d4;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  padding: 10px;
}
.csdl-container .csdl-header a {
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 6px;
  padding: 3px 8px 2px 24px;
  border: 1px solid #d4d4d4;
  background: #ffffff url('images/csdl-header.png') 2px -1px no-repeat;
  background-size: 20px 156px;
  font-size: 10px;
  color: #388cb8;
}
.csdl-container .csdl-header a:hover {
  color: #ff9933;
  border-color: #bbb;
}
.csdl-container .csdl-header a.csdl-inactive {
  color: #68686d;
  background-color: none;
}
.csdl-container .csdl-header a.csdl-inactive:hover {
  border-color: #d4d4d4;
}
.csdl-container .csdl-header a.csdl-redo {
  background-position: 2px -27px;
  margin-right: 20px;
}
.csdl-container .csdl-header a.csdl-geoselect {
  background-position: 2px -53px;
  margin-right: 20px;
}
.csdl-container .csdl-header a.csdl-theme {
  background-position: 2px -79px;
}
.csdl-container .csdl-header a.csdl-view-open {
  background-position: 2px -105px;
  padding: 0;
  width: 26px;
  height: 26px;
}
.csdl-container .csdl-header a.csdl-view-close {
  background-position: 2px -131px;
  padding: 0;
  width: 26px;
  height: 26px;
}
.csdl-container .csdl-header a.csdl-save {
  float: right;
  padding: 5px 16px;
  margin: -3px -4px 0 0;
  border-color: rgba(0, 0, 0, 0.14);
  background: #388cb8;
  font-size: 11px;
  letter-spacing: 1px;
  color: #ffffff;
}
.csdl-container .csdl-header a.csdl-save:hover {
  background: #ff9933;
}
.csdl-container .csdl-footer {
  border-top: 1px solid #d4d4d4;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 12px 14px;
  color: #68686d;
}
.csdl-container .csdl-footer .csdl-help {
  float: left;
  width: 90%;
  background: url('images/csdl-help.png') 0 1px no-repeat;
  background-size: 18px 18px;
  font-size: 12px;
  padding-left: 26px;
}
.csdl-container .csdl-footer .csdl-help a {
  font-weight: bold;
  margin-left: 6px;
  color: #388cb8;
}
.csdl-container .csdl-footer .csdl-help a:hover {
  color: #ff9933;
}
.csdl-container .csdl-footer .indicator {
  display: inline-block;
  float: left;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  padding: 0;
  background: url('images/loader.gif') 0 2px no-repeat;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HELP POPUP */
body > .csdl-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.6;
  z-index: 100;
}
body > .csdl-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  margin: 0;
  margin-left: -225px;
  display: block;
  width: 450px;
  padding: 0;
  background: #ffffff;
  border: 4px solid #ddd;
  min-width: auto;
  z-index: 101;
}
body > .csdl-popup .csdl-close {
  position: absolute;
  top: 2px;
  right: 10px;
  color: #777;
}
body > .csdl-popup .csdl-popup-content {
  padding: 20px 15px;
  border: 1px solid #ddd;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HINT HELP */
.csdl-hint-help {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  margin: 0;
  padding: 2px 5px;
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), transparent 0 0 0;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), transparent 0 0 0;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), transparent 0 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  font-size: 90%;
  max-height: 200px;
  max-width: 400px;
  overflow-y: auto;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - CODEMIRROR EDITOR */
.csdl-container .csdl-editor-container {
  overflow: hidden;
}
.csdl-container .CodeMirror {
  height: 600px;
}
.csdl-container .CodeMirror,
.csdl-container .CodeMirror * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csdl-container .CodeMirror .CodeMirror-linenumbers {
  width: 30px;
}
.csdl-container .CodeMirror .CodeMirror-linenumber {
  padding-right: 2px;
}
.CodeMirror-hints .CodeMirror-hint-active {
  background: #ff9933;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - GEO SELECTION */
.csdl-container .csdl-geo {
  position: absolute;
  z-index: 50;
  top: 46px;
  bottom: 46px;
  width: 100%;
  background: #f6f6f5;
  text-align: center;
}
.csdl-container .csdl-geo .csdl-map {
  position: relative;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-search {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 4px 8px;
  height: auto;
  font-size: 12px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-search:focus {
  outline: none;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0), transparent 0 0 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), transparent 0 0 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), transparent 0 0 0;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-canvas {
  display: block;
  margin: 10px auto;
  min-width: 250px;
  max-width: 750px;
  width: 100%;
  height: 250px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-instructions {
  display: block;
  margin: 10px auto;
  width: 70%;
  text-align: center;
  line-height: 1.3em;
}
.csdl-container .csdl-geo .csdl-map .csdl-clear-map {
  display: block;
  width: 125px;
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -60px;
  z-index: 100;
  background: #fff;
  border: 1px solid #717b87;
  font-size: 13px;
  color: #000;
  font-weight: bold;
  padding: 1px 6px;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), transparent 0 0 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), transparent 0 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), transparent 0 0 0;
  display: none;
}
.csdl-container .csdl-geo .csdl-map .csdl-clear-map:hover {
  color: #000;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates,
.csdl-container .csdl-geo .csdl-map .csdl-map-area {
  margin: 0 10px 10px;
  text-align: center;
  font-size: 11px;
  color: #68686d;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates label,
.csdl-container .csdl-geo .csdl-map .csdl-map-area label {
  display: inline;
  font-size: 11px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates span,
.csdl-container .csdl-geo .csdl-map .csdl-map-area span {
  margin-left: 10px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates ul {
  margin: 0;
  padding: 0;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates ul li {
  display: inline;
  margin: 5px;
}
.csdl-container .csdl-geo .csdl-button {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 6px;
  padding: 3px 8px 2px;
  border: 1px solid #d4d4d4;
  background: #ffffff;
  font-size: 10px;
  color: #388cb8;
}
.csdl-container .csdl-geo .csdl-button:hover {
  color: #ff9933;
  border-color: #bbb;
}
.csdl-container .csdl-geo .csdl-button.done {
  border-color: rgba(0, 0, 0, 0.14);
  background: #388cb8;
  color: #ffffff;
}
.csdl-container .csdl-geo .csdl-button.done:hover {
  background: #ff9933;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - LIGHT THEME */
.csdl-container.csdl-theme-light .CodeMirror {
  /* highlight text that matches selection */

  /* selected text */

  /* empty editor */

}
.csdl-container.csdl-theme-light .CodeMirror .cm-matchhighlight {
  border: 1px solid #ddd;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-selectedtext {
  background: #e5e5e5;
  border: 0;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-activeline-background {
  background: #f5f5f5;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-comment {
  color: #aaa;
  font-style: italic;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-keyword {
  color: red;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-logical {
  color: red;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-target {
  color: blue;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-string {
  color: green;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-operator {
  color: red;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-bracket {
  font-weight: bold;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-gutters {
  border: 0;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-linenumber {
  color: #A7A7A7;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-nonmatchingbracket {
  text-decoration: underline;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - DARK THEME */
.csdl-container.csdl-theme-dark .CodeMirror {
  background: #141414;
  color: #F8F8F8;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-cursor {
  border-color: #A7A7A7;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-selectedtext {
  background: #3c4043;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-activeline {
  color: #f8f8f4;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-activeline-background {
  background: #181818;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-comment {
  color: #5F5A60;
  font-style: italic;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-keyword {
  color: #CDA869;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-logical {
  color: #CDA869;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-target {
  color: #6f87a6;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-string {
  color: #8F9D6A;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-operator {
  color: #F8F8F8;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-bracket {
  color: #f8f8f4;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-gutters {
  background: #141414;
  border: 0;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-linenumber {
  color: #A7A7A7;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-matchingbracket {
  color: #F8F8F8;
  font-weight: bold;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-nonmatchingbracket {
  color: #F8F8F8;
  text-decoration: underline;
}
