.csdl-container {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csdl-container a,
.csdl-container u,
.csdl-container ins {
  text-decoration: none;
}
.csdl-container a:hover {
  text-decoration: none;
}
.csdl-container del,
.csdl-container s {
  text-decoration: line-through;
}
.csdl-container pre,
.csdl-container code,
.csdl-container samp,
.csdl-container kbd {
  font-family: monospace;
}
.csdl-container small {
  font-size: 0.75em;
}
.csdl-container img {
  border: 0;
  font-style: italic;
}
.csdl-container input,
.csdl-container select,
.csdl-container option,
.csdl-container optgroup,
.csdl-container textarea {
  font: inherit;
}
.csdl-container label {
  font-size: inherit;
  line-height: 1;
  margin: 0;
  cursor: pointer;
}
.csdl-container input[type="checkbox"] {
  margin: 0;
}
.csdl-container h1,
.csdl-container h2,
.csdl-container h3,
.csdl-container h4,
.csdl-container h5 {
  font-size: 1;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin: 5px 0;
}
.csdl-container img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
.csdl-container img,
.csdl-container object,
.csdl-container embed {
  max-width: 100%;
  height: auto;
}
.csdl-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csdl-container .csdl-row {
  width: 100%;
  margin: 0 auto;
  padding: 0 ;
}
.csdl-container .csdl-row .csdl-row {
  width: auto;
  max-width: none;
  min-width: 0;
  padding: 0;
}
.csdl-container .csdl-column {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}
.csdl-container .csdl-column.no-padding {
  padding: 0;
}
.csdl-container [class*="csdl-column"] + [class*="csdl-column"]:last-child {
  float: right;
}
.csdl-container [class*="drb-column"] + [class*="csdl-column"].end {
  float: left;
}
.csdl-container .csdl-row .csdl-column.one {
  width: 8.33%;
}
.csdl-container .csdl-row .csdl-column.two {
  width: 16.66%;
}
.csdl-container .csdl-row .csdl-column.three {
  width: 25%;
}
.csdl-container .csdl-row .csdl-column.four {
  width: 33.33%;
}
.csdl-container .csdl-row .csdl-column.five {
  width: 41.66%;
}
.csdl-container .csdl-row .csdl-column.six {
  width: 50%;
}
.csdl-container .csdl-row .csdl-column.seven {
  width: 58.33%;
}
.csdl-container .csdl-row .csdl-column.eight {
  width: 66.66%;
}
.csdl-container .csdl-row .csdl-column.nine {
  width: 75%;
}
.csdl-container .csdl-row .csdl-column.ten {
  width: 83.33%;
}
.csdl-container .csdl-row .csdl-column.eleven {
  width: 91.66%;
}
.csdl-container .csdl-row .csdl-column.twelve {
  width: 100%;
}
.csdl-container .csdl-row:before,
.csdl-container .csdl-row:after,
.csdl-container .clearfix:before,
.csdl-container .clearfix:after {
  content: "";
  display: table;
}
.csdl-container .csdl-row:after,
.csdl-container .clearfix:after {
  clear: both;
}
.csdl-container .csdl-row,
.csdl-container .clearfix {
  zoom: 1;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BASICS */
.csdl-container {
  position: relative;
  overflow: hidden;
  display: block;
  background: #fbfbfb;
  color: #2c2b33;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  min-width: 740px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 19px;
}
.csdl-container a {
  text-decoration: none;
  color: #68686d;
  -webkit-transition: all 0.14s ease-out;
  -moz-transition: all 0.14s ease-out;
  -o-transition: all 0.14s ease-out;
  transition: all 0.14s ease-out;
}
.csdl-container a:hover {
  color: #388cb8;
}
.csdl-container h1,
.csdl-container h2,
.csdl-container h3 {
  font-weight: normal;
}
.csdl-container h1 {
  font-size: 48px;
  line-height: 48px;
}
.csdl-container h2 {
  font-size: 20px;
  line-height: 20px;
  color: #388cb8;
}
.csdl-container h3 {
  font-size: 15px;
  line-height: 20px;
  color: #bbb;
}
.csdl-container p {
  margin-top: 14px;
}
.csdl-container .csdl-inactive {
  opacity: 0.5;
}
.csdl-container.csdl-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}
.csdl-container .csdl-maps-marker-url {
  background: url('images/maps-marker.png');
}
.csdl-container a.csdl-button {
  display: inline-block;
  font-weight: bold;
  color: #333333;
  font-size: 11px;
  line-height: 24px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  margin: 0 2px;
  padding: 2px 5px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #d4d4d4;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #bbbbbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
}
.csdl-container a.csdl-button:hover {
  color: #333333;
  border-color: #bbbbbb;
}
.csdl-container a.csdl-button:active,
.csdl-container a.csdl-button.csdl-active {
  background-color: #cccccc \9;
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
}
.csdl-container a.csdl-button.csdl-button-with-icon {
  padding-right: 13px;
}
.csdl-container a.csdl-button.csdl-inactive {
  cursor: default;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -moz-box-shadow: transparent 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: transparent 0 0 0, transparent 0 0 0;
  box-shadow: transparent 0 0 0, transparent 0 0 0;
  border-color: #d4d4d4;
}
.csdl-container a.csdl-button.csdl-button-done {
  color: #ffffff;
  text-shadow: none;
  background-color: #ff8f1f;
  background-image: -moz-linear-gradient(top, #ff9933, #ff8000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9933), to(#ff8000));
  background-image: -webkit-linear-gradient(top, #ff9933, #ff8000);
  background-image: -o-linear-gradient(top, #ff9933, #ff8000);
  background-image: linear-gradient(to bottom, #ff9933, #ff8000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9933', endColorstr='#ffff8000', GradientType=0);
  border: 1px solid #e57300;
  border-color: #ff8000 #ff8000 #b35900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.csdl-container a.csdl-button.csdl-button-link {
  color: #388cb8;
  text-shadow: 0;
  font-weight: normal;
  background: transparent;
  border: 0;
  -moz-box-shadow: transparent 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: transparent 0 0 0, transparent 0 0 0;
  box-shadow: transparent 0 0 0, transparent 0 0 0;
}
.csdl-container a.csdl-button.csdl-button-link:hover,
.csdl-container a.csdl-button.csdl-button-link:active {
  color: #ff9933;
  border-color: transparent;
  -moz-box-shadow: transparent 0 0 0, transparent 0 0 0;
  -webkit-box-shadow: transparent 0 0 0, transparent 0 0 0;
  box-shadow: transparent 0 0 0, transparent 0 0 0;
}
.csdl-container a.csdl-button.csdl-redo,
.csdl-container a.csdl-button.csdl-listeditor,
.csdl-container a.csdl-button.csdl-delete {
  margin-right: 20px;
}
.csdl-container a.csdl-button.csdl-view-open,
.csdl-container a.csdl-button.csdl-view-close {
  padding: 2px;
  width: 30px;
  height: 30px;
}
.csdl-container a.csdl-button.csdl-verify {
  padding: 2px 8px;
  float: right;
  margin-right: 20px;
}
.csdl-container a.csdl-button.csdl-save {
  float: right;
  padding: 2px 16px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 1px 1px #b35900;
  background-color: #ff8f1f;
  background-image: -moz-linear-gradient(top, #ff9933, #ff8000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9933), to(#ff8000));
  background-image: -webkit-linear-gradient(top, #ff9933, #ff8000);
  background-image: -o-linear-gradient(top, #ff9933, #ff8000);
  background-image: linear-gradient(to bottom, #ff9933, #ff8000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9933', endColorstr='#ffff8000', GradientType=0);
  border: 1px solid #e57300;
  border-color: #ff8000 #ff8000 #b35900;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.csdl-container a.csdl-button .csdl-button-icon {
  display: inline-block;
  float: left;
  width: 24px;
  height: 24px;
  background-image: url('images/csdl-header.png?2');
  background-repeat: no-repeat;
  background-size: 20px 338px;
}
.csdl-container a.csdl-button.csdl-redo .csdl-button-icon {
  background-position: 2px -27px;
}
.csdl-container a.csdl-button.csdl-geoselect .csdl-button-icon {
  background-position: 2px -53px;
}
.csdl-container a.csdl-button.csdl-theme .csdl-button-icon {
  background-position: 2px -79px;
}
.csdl-container a.csdl-button.csdl-view-open .csdl-button-icon {
  background-position: 3px -105px;
}
.csdl-container a.csdl-button.csdl-view-close .csdl-button-icon {
  background-position: 3px -131px;
}
.csdl-container a.csdl-button.csdl-listeditor .csdl-button-icon {
  background-position: 2px -158px;
}
.csdl-container a.csdl-button.csdl-sort-az .csdl-button-icon {
  background-position: 2px -184px;
}
.csdl-container a.csdl-button.csdl-copy .csdl-button-icon {
  background-position: 2px -210px;
}
.csdl-container a.csdl-button.csdl-import .csdl-button-icon {
  background-position: 2px -235px;
}
.csdl-container a.csdl-button.csdl-edit .csdl-button-icon {
  background-position: 2px -261px;
}
.csdl-container a.csdl-button.csdl-move .csdl-button-icon {
  background-position: 2px -287px;
}
.csdl-container a.csdl-button.csdl-delete .csdl-button-icon {
  background-position: 2px -313px;
}
.csdl-container .csdl-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url('images/csdl-icons.png?1') no-repeat;
  vertical-align: middle;
}
.csdl-container .csdl-icon.csdl-delete {
  background-position: 0 0;
}
.csdl-container .csdl-icon.csdl-edit {
  background-position: 0 -26px;
}
.csdl-container .csdl-right {
  text-align: right;
}
.csdl-container .zclip {
  overflow: hidden;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HEADER */
.csdl-container .csdl-header,
.csdl-container .csdl-footer {
  clear: both;
  height: 46px;
  background: #f6f6f5;
  border: 0;
}
.csdl-container .csdl-header {
  border-bottom: 1px solid #d4d4d4;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 40px;
  padding: 5px;
  vertical-align: middle;
}
.csdl-container .csdl-footer {
  border-top: 1px solid #d4d4d4;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 5px;
  height: 40px;
  color: #68686d;
  display: table;
}
.csdl-container .csdl-footer .csdl-info {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.csdl-container .csdl-footer .csdl-info.csdl-error {
  color: red;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HELP POPUP */
body > .csdl-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 0.6;
  z-index: 100;
}
body > .csdl-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  margin: 0;
  margin-left: -225px;
  display: block;
  width: 450px;
  padding: 0;
  background: #ffffff;
  border: 4px solid #ddd;
  min-width: auto;
  z-index: 101;
}
body > .csdl-popup .csdl-close {
  position: absolute;
  top: 2px;
  right: 10px;
  color: #777;
}
body > .csdl-popup .csdl-popup-content {
  padding: 20px 15px;
  border: 1px solid #ddd;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - HINT HELP */
.csdl-hint-help {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  margin: 0;
  padding: 2px 5px;
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), transparent 0 0 0;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), transparent 0 0 0;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2), transparent 0 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  font-size: 90%;
  max-height: 200px;
  max-width: 400px;
  overflow-y: auto;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - CODEMIRROR EDITOR */
.csdl-container .csdl-editor-container {
  overflow: hidden;
}
.csdl-container .CodeMirror {
  height: 600px;
}
.csdl-container .CodeMirror,
.csdl-container .CodeMirror * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csdl-container .CodeMirror .CodeMirror-linenumbers {
  width: 30px;
}
.csdl-container .CodeMirror .CodeMirror-linenumber {
  padding-right: 2px;
}
.CodeMirror-hints .CodeMirror-hint-active {
  background: #ff9933;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - GEO SELECTION */
.csdl-container .csdl-geo {
  position: absolute;
  z-index: 50;
  top: 40px;
  bottom: 40px;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
}
.csdl-container .csdl-geo .csdl-map {
  position: relative;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-search {
  display: block;
  margin: 10px auto;
  width: 100%;
  padding: 4px 8px;
  height: auto;
  font-size: 12px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-search:focus {
  outline: none;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0), transparent 0 0 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), transparent 0 0 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), transparent 0 0 0;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-canvas {
  display: block;
  margin: 10px auto;
  min-width: 250px;
  max-width: 750px;
  width: 100%;
  height: 250px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-instructions {
  display: block;
  margin: 10px auto;
  width: 70%;
  text-align: center;
  line-height: 1.3em;
}
.csdl-container .csdl-geo .csdl-map .csdl-clear-map {
  display: block;
  width: 125px;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -60px;
  z-index: 100;
  background: #fff;
  border: 1px solid #717b87;
  font-size: 13px;
  color: #000;
  font-weight: bold;
  padding: 1px 6px;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), transparent 0 0 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), transparent 0 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), transparent 0 0 0;
  display: none;
}
.csdl-container .csdl-geo .csdl-map .csdl-clear-map:hover {
  color: #000;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates,
.csdl-container .csdl-geo .csdl-map .csdl-map-area {
  margin: 0 10px 10px;
  text-align: center;
  font-size: 11px;
  color: #68686d;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates label,
.csdl-container .csdl-geo .csdl-map .csdl-map-area label {
  display: inline;
  font-size: 11px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates span,
.csdl-container .csdl-geo .csdl-map .csdl-map-area span {
  margin-left: 10px;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates ul {
  margin: 0;
  padding: 0;
}
.csdl-container .csdl-geo .csdl-map .csdl-map-coordinates ul li {
  display: inline;
  margin: 5px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - LIST EDITOR */
.csdl-container .csdl-list {
  position: absolute;
  z-index: 50;
  top: 40px;
  bottom: 40px;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
}
.csdl-container .csdl-list .csdl-list-bar {
  padding: 5px;
  background: #f6f6f5;
  border-bottom: 1px solid #d4d4d4;
}
.csdl-container .csdl-list .csdl-list-bar .csdl-button.done {
  margin-right: 0;
}
.csdl-container .csdl-list .csdl-button.add {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 51;
}
.csdl-container .csdl-list input.csdl-search {
  display: inline-block;
  height: 30px;
  width: 200px;
  margin: 0 2px;
  line-height: 18px;
  padding: 4px 6px;
  font-size: 13px;
  color: #2c2b33;
  background: #ffffff;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), transparent 0 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), transparent 0 0 0;
  -webkit-transition: all 0.14s ease-out;
  -moz-transition: all 0.14s ease-out;
  -o-transition: all 0.14s ease-out;
  transition: all 0.14s ease-out;
}
.csdl-container .csdl-list input.csdl-search:focus {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.csdl-container .csdl-list .csdl-left {
  text-align: left;
  padding: 0;
}
.csdl-container .csdl-list .csdl-right {
  text-align: right;
  padding: 0;
}
.csdl-container .csdl-list .csdl-list-cta {
  margin: 20px;
  border: 1px solid #b5e1ec;
  border-left-width: 3px;
  padding: 10px;
  background: #dff6fb;
}
.csdl-container .csdl-list .csdl-list-container {
  position: absolute;
  z-index: 50;
  top: 41px;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
.csdl-container .csdl-list .csdl-list-container h5 {
  margin: 20px 10px;
  color: inherit;
}
.csdl-container .csdl-list .csdl-list-container h5 small {
  color: inherit;
  font-size: 100%;
}
.csdl-container .csdl-list .csdl-list-container p {
  margin: 20px 10px;
}
.csdl-container .csdl-list .csdl-list-container ol {
  list-style: none;
  display: block;
  margin: 15px;
}
.csdl-container .csdl-list .csdl-list-container ol li {
  display: inline-block;
  position: relative;
  margin: 6px 3px;
  margin-right: 0;
  float: left;
}
.csdl-container .csdl-list .csdl-list-container ol li .csdl-list-item {
  display: inline-block;
  background: #fbfbfb;
  border: 1px solid #d4d4d4;
  padding: 5px 11px;
  margin: 0 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
.csdl-container .csdl-list .csdl-list-container ol li .csdl-list-item span {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.csdl-container .csdl-list .csdl-list-container ol li .csdl-list-item input {
  display: none;
}
.csdl-container .csdl-list .csdl-list-container ol li .csdl-list-item .csdl-list-item-mode-bar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
}
.csdl-container .csdl-list .csdl-list-container ol li .csdl-list-item:hover {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #d4d4d4;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #bbbbbb;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
}
.csdl-container .csdl-list .csdl-list-container ol li.csdl-list-active .csdl-list-item {
  padding: 3px 5px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #d4d4d4;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #bbbbbb;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05), transparent 0 0 0;
}
.csdl-container .csdl-list .csdl-list-container ol li.csdl-list-active .csdl-list-item span {
  display: none;
}
.csdl-container .csdl-list .csdl-list-container ol li.csdl-list-active .csdl-list-item input {
  display: inline-block;
  padding: 11px 5px;
  max-width: 200px;
}
.csdl-container .csdl-list .csdl-list-container ol li.csdl-list-add {
  display: inline-block;
  margin: 6px;
  margin-right: 9px;
  padding-right: 15px;
  border-right: 1px solid #d4d4d4;
  width: 200px;
}
.csdl-container .csdl-list .csdl-list-container ol li.csdl-list-placeholder {
  width: 100px;
  height: 32px;
  border: 1px dashed #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.csdl-container .csdl-list .csdl-list-container ol input {
  display: inline-block;
  margin: 0;
  line-height: 18px;
  padding: 4px 6px;
  font-size: 13px;
  color: #2c2b33;
  background: white;
  border: 1px solid #d4d4d4;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), transparent 0 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), transparent 0 0 0;
  cursor: pointer;
}
.csdl-container .csdl-list .csdl-list-container ol input.csdl-list-add-input {
  height: 32px;
  width: 100%;
}
.csdl-container .csdl-list .csdl-list-container ol input:focus {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), transparent 0 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), transparent 0 0 0;
}
.csdl-container .csdl-list .csdl-list-container ol.csdl-mode-edit li .csdl-list-item {
  cursor: text;
}
.csdl-container .csdl-list .csdl-list-container ol.csdl-mode-edit li .csdl-list-item .csdl-list-item-mode-bar {
  display: none;
}
.csdl-container .csdl-list .csdl-list-container ol.csdl-mode-delete li .csdl-list-item {
  cursor: pointer;
}
.csdl-container .csdl-list .csdl-list-container ol.csdl-mode-delete li .csdl-list-item .csdl-list-item-mode-bar {
  display: block;
  background: red;
}
.csdl-container .csdl-list .csdl-list-container ol.csdl-mode-move li .csdl-list-item {
  cursor: move;
}
.csdl-container .csdl-list .csdl-list-container ol.csdl-mode-move li .csdl-list-item .csdl-list-item-mode-bar {
  display: block;
  background: #388cb8;
}
.csdl-container .csdl-list .csdl-import-view {
  position: absolute;
  z-index: 55;
  top: 70px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  overflow: auto;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #d4d4d4;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), transparent 0 0 0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), transparent 0 0 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), transparent 0 0 0;
}
.csdl-container .csdl-list .csdl-import-view h4 {
  margin-bottom: 20px;
}
.csdl-container .csdl-list .csdl-import-view label {
  margin: 5px 0;
}
.csdl-container .csdl-list .csdl-import-view .csdl-draganddrop {
  border: 2px dashed #d4d4d4;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  color: #68686d;
  -webkit-transition: all 0.14s ease-out;
  -moz-transition: all 0.14s ease-out;
  -o-transition: all 0.14s ease-out;
  transition: all 0.14s ease-out;
}
.csdl-container .csdl-list .csdl-import-view .csdl-draganddrop p {
  margin: 0;
  margin-bottom: 14px;
}
.csdl-container .csdl-list .csdl-import-view .csdl-draganddrop.over {
  border-color: transparent;
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), transparent 0 0 0;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), transparent 0 0 0;
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), transparent 0 0 0;
}
.csdl-container .csdl-list .csdl-import-view .csdl-import-buttons {
  border-top: 1px solid #d4d4d4;
  margin-top: 15px;
  padding: 15px 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
}
.csdl-container .csdl-list .csdl-import-view textarea {
  display: inline-block;
  height: 100px;
  width: 100%;
  line-height: 18px;
  padding: 4px 6px;
  font-size: 14px;
  color: #2c2b33;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), transparent 0 0 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), transparent 0 0 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), transparent 0 0 0;
  -webkit-transition: all 0.14s ease-out;
  -moz-transition: all 0.14s ease-out;
  -o-transition: all 0.14s ease-out;
  transition: all 0.14s ease-out;
  margin-bottom: 15px;
}
.csdl-container .csdl-list .csdl-import-view textarea:focus {
  background: #ffffff;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.csdl-container .csdl-list .csdl-import-view .csdl-table-container {
  max-width: 460px;
  max-height: 330px;
  overflow: auto;
}
.csdl-container .csdl-list .csdl-import-view table {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #d4d4d4;
  background: #ffffff;
}
.csdl-container .csdl-list .csdl-import-view table td {
  padding: 5px 10px;
}
.csdl-container .csdl-list .csdl-import-view table tr.ignored td {
  text-decoration: line-through;
  color: #d4d4d4;
}
.csdl-container .csdl-list .csdl-import-view table thead th {
  background: #f6f6f5;
  padding: 5px 10px;
}
.csdl-container .csdl-list .csdl-import-view table thead.csdl-error th {
  background: #fdd;
}
.csdl-container .csdl-list .csdl-import-view table td,
.csdl-container .csdl-list .csdl-import-view table th {
  border: 1px solid #d4d4d4;
}
.csdl-container .csdl-list .csdl-import-view table tr:first-child th {
  border-top: 0;
}
.csdl-container .csdl-list .csdl-import-view table tr:last-child td {
  border-bottom: 0;
}
.csdl-container .csdl-list .csdl-import-view table tr td:first-child,
.csdl-container .csdl-list .csdl-import-view table tr th:first-child {
  border-left: 0;
}
.csdl-container .csdl-list .csdl-import-view table tr td:last-child,
.csdl-container .csdl-list .csdl-import-view table tr th:last-child {
  border-right: 0;
}
.csdl-container .csdl-list .csdl-import-view table tfoot tr td {
  text-align: center;
  font-size: 0.8em;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - LIGHT THEME */
.csdl-container.csdl-theme-light .CodeMirror {
  /* highlight text that matches selection */

  /* selected text */

  /* empty editor */

}
.csdl-container.csdl-theme-light .CodeMirror .cm-matchhighlight {
  border: 1px solid #ddd;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-selectedtext {
  background: #e5e5e5;
  border: 0;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-activeline-background {
  background: #f5f5f5;
}
.csdl-container.csdl-theme-light .CodeMirror .csdl-error {
  background: #fdd;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-comment {
  color: #aaa;
  font-style: italic;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-keyword {
  color: red;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-logical {
  color: red;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-target {
  color: blue;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-string {
  color: green;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-operator {
  color: red;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-punctuation {
  color: #666;
}
.csdl-container.csdl-theme-light .CodeMirror .cm-bracket {
  font-weight: bold;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-gutters {
  border: 0;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-linenumber {
  color: #A7A7A7;
}
.csdl-container.csdl-theme-light .CodeMirror .CodeMirror-nonmatchingbracket {
  text-decoration: underline;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - DARK THEME */
.csdl-container.csdl-theme-dark .CodeMirror {
  background: #141414;
  color: #F8F8F8;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-cursor {
  border-color: #A7A7A7;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-selectedtext {
  background: #3c4043;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-activeline {
  color: #f8f8f4;
}
.csdl-container.csdl-theme-dark .CodeMirror .csdl-error {
  background: #500;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-activeline-background {
  background: #181818;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-comment {
  color: #5F5A60;
  font-style: italic;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-keyword {
  color: #CDA869;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-logical {
  color: #CDA869;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-target {
  color: #6f87a6;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-string {
  color: #8F9D6A;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-operator {
  color: #F8F8F8;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-punctuation {
  color: #bbb;
}
.csdl-container.csdl-theme-dark .CodeMirror .cm-bracket {
  color: #f8f8f4;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-gutters {
  background: #141414;
  border: 0;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-linenumber {
  color: #A7A7A7;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-matchingbracket {
  color: #F8F8F8;
  font-weight: bold;
}
.csdl-container.csdl-theme-dark .CodeMirror .CodeMirror-nonmatchingbracket {
  color: #F8F8F8;
  text-decoration: underline;
}
